<h1>All places</h1>
<p>Select category: <%= link_to "All,", root_path %>
<% @categories.each do |cat| %>
	<%= link_to cat.name + ',', category_path(cat.id), remote: true %>
<% end %>
</p>
<div class="container places">
	<%= render 'places_categories' %>
</div>

